{% extends "layout.html" %}

{% block pageTitle %}
  Annual income – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="pelinincomeevidence" method="post">
        
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#passport-issued-day">The date your passport was issued must be in the past</a>
              </li>
              <li>
                <a href="#postcode-input">Enter a postcode, like AA1 1AA</a>
              </li>
            </ul>
          </div>
        </div>

        {% if data.error ==='400'%}
        <div class="govuk-form-group govuk-form-group--error">
          {% else %}
          <div class="govuk-form-group">
          {% endif %}

          {% if data.error === '400' %}
          <fieldset class="govuk-fieldset" aria-describedby="where-do-you-live-error">
          {% else %}
          <fieldset class="govuk-fieldset">
          {% endif %}
 
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you live?
              </h1>
            </legend>
            {% if data.error === '400' %}<p id="where-do-you-live-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select the country where you live
            </p>
            {% endif %}
 

                <form action="/form-handler" method="post" novalidate>
        
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        
                      </legend>
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="interview-needs" name="interview-needs" type="radio" value="Yes">
                          <label class="govuk-label govuk-radios__label" for="interview-needs">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="interview-needs-2" name="interview-needs" type="radio" value="No">
                          <label class="govuk-label govuk-radios__label" for="interview-needs-2">
                            No
                          </label>
                        </div>
                      </div>
        
                      
                    </fieldset>
                  </div>
                  
                                  
                </form>
              </div>
            </div>
          </main>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>

        

      </form>

    </div>
  </div>

{% endblock %}
