{% extends "layout.html" %}

{% block pageTitle %}
  Check your eligibility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Activity Credit</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Apply</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1> -->

      <h1 class="govuk-heading-l govuk-!-margin-top-6">Apply for Activity Credit</h1>

      <p>
        You must be eligible to apply for Activity Credit. You will be eligible if you:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>live in the UK</li>
        <li>earn less than £16,000 per year</li>
        <li>have an Activity Credit Referral number from your doctor or other approved healthcare provider</li>

    </ul>

    <p>
      Before you apply, you will need your:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Activity Credit Referral number</li>
      <li>National insurance number</li>
    </ul>
    
  <p>You will also be asked for your name and address.</p>

      <p class="govuk-body">To complete your application, you will also need to tell us how we can contact you. We will update you on the progress of your application. We also may need to request more information about your application.</p>

      <a href="/V2/eligibility-income" role="button" class="govuk-button">Start now</a>


    </div>

      </div>
{% endblock %}
