{% extends "layout.html" %}

{% block pageTitle %}
Do you earn less than £16,000 per year? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Do you earn less than £16,000 per year?</h1>

      <form class="form" action="/V2/eligibility-referral" method="post">

        <p>You can select 'Yes' for all instances of earnings less than £16,000 per year, including short or long-term unemployement.</p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="eligibility-income-check" name="eligibility-income-check" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="eligibility-income-check">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="eligibility-income-check-2" name="eligibility-income-check" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="eligibility-income-check-2">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
