{% extends "layout.html" %}

{% block pageTitle %}
  Your address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What is your address?</h1>

      <form class="form" action="find-address" method="post">

        
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code" oninput="this.value = this.value.toUpperCase()">
        </fieldset></p>

        <div>
          <a href="enter-address" class="govuk-link govuk-!-font-size-19" rel="noreferrer noopener" >Enter address manually</a>       
        </div>

        <br>
  

        <button class="govuk-button" data-module="govuk-button">Find address</button>

      </form>
      

      


    </div>
  </div>

{% endblock %}
