{% extends "layout.html" %}

{% block pageTitle %}
  Your address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="/v2/enter-postcode" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What is your address?</h1>

      <form class="form" action="bevemail" method="post">

        <p>
          Postcode: 
          <h3 class="govuk-heading-s">MK13 0BA </h3>
    <a href="enter-postcode" class="govuk-link">change</a>
        </p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Choose your address
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="56 Hippo Road, Hippoland, MK13 0BA">56 Hippo Road, Hippoland, MK13 0BA</option>
            <option value="57 Hippo Road, Hippoland, MK13 0BA" selected>57 Hippo Road, Hippoland, MK13 0BA</option>
            <option value="58 Hippo Road, Hippoland, MK13 0BA">58 Hippo Road, Hippoland, MK13 0BA</option>
          </select>
        </div>

        <div>
            <span class="govuk-details__summary-text">
          <a href="enter-address2" class="govuk-link" rel="noreferrer noopener" target="_blank">I can't find my address</a> 
            </span>
        </div>
  
        

        </fieldset></p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
