{% extends "layout.html" %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Benefits</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Financial support if you're on a low income</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Activity Credit
      </h1>

      <p class="govuk-body-m">Contents</p>

      <ul class="govuk-list">
        <li class="dash-before-list">
          <a class="govuk-link" href="#">How it works</a>
        </li>
        <li class="dash-before-list">
          <a class="govuk-link" href="#">Eligibility</a>
        </li>
        <li class="dash-before-list">
          <a class="govuk-link" href="#">What you'll get</a>
        </li>
        <li class="dash-before-list">
          <a class="govuk-link" href="jake-how-to-apply">How to claim</a>
        </li>
      </ul>
      
      <div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" >  
                                 
      </div>
  
    </div>
  
    <div class="govuk-width-container">
    
      <main class="govuk-main-wrapper">
    
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">How it works</h2>
            
            <p class="govuk-body">Before you apply, you will need your:</p>
  
            <p class="govuk-body">You will also be asked to provide proof of your annual income. You could upload:</p>
  
            <p class="govuk-body">To complete your application, you will also need to provide information about:</p>
  
          </div>
  
          <div class="govuk-grid-column-one-third" style="border-top:2px solid #1d70b8; margin-top:-21px;padding-top:21px;">
            <h2 class="govuk-heading-s">Related content</h2> 
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="#">Benefits calculators</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Employment and Support Allowance (ESA)</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Health conditions, disability and Universal Credit</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Sign in for a service</a>
              </li>
          </div>
        </div>
    
      <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-m">Some more information</h1>
         <p class="govuk-body">This is a paragraph inside a two-thirds wide column so it should stay in this two thirds position</p>
  
         <h1 class="govuk-heading-m">Some more information</h1>
         <p class="govuk-body">This is a paragraph inside a two-thirds wide column</p>
  
         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
         <a href="/docs/tutorials-and-examples">View a printable version of the whole guide</a>
       </div>
      </div>
  
      </main>
    </div>
  
  {% endblock %}
  
