{% extends "layout.html" %}

{% block pageTitle %}
  Referral number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What is your Activity Credit Referral (ACR) number?</h1>

      <form class="form" action="referral-confirmation" method="post">
        
        <p></p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="refnumber">
            Your GP or other approved healthcare provider will have given you an Activity Credit Referral at a recent appointment.
          </label>
          <p></p>
          <div id="refnumber-hint" class="govuk-hint">
            For example, ‘ACR 7123 4456’.
          </div>
          <input class="govuk-input govuk-input--width-10" id="refnumber" name="refnumber" type="text" spellcheck="false" aria-describedby="refnumber-hint">
        </div>
        <p></p>
             
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
