{% extends "layout.html" %}

{% block pageTitle %}
  Your address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What is your address?</h1>

      <form class="form" action="bevemail" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Choose your address
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="56 Hippo Road, Hippoland, MK13 0BA">56 Hippo Road, Hippoland, MK13 0BA</option>
            <option value="57 Hippo Road, Hippoland, MK13 0BA" selected>57 Hippo Road, Hippoland, MK13 0BA</option>
            <option value="58 Hippo Road, Hippoland, MK13 0BA">58 Hippo Road, Hippoland, MK13 0BA</option>
          </select>
        </div>
        
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I cannot find my address in the list
            </span>
          </summary>
          <div class="govuk-details__text">
            If you can't find your address, please type in manually.
          </div>
        </details>

        </fieldset></p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
