
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Activity Credit prototypes
      </h1>{{releaseVersion | log }}
      <p>
        Designing a service to encourage exercise in return for cash.
      </p>

      <!-- hypothesis section -->
      <p>
        <h3 class="govuk-heading-s">
          Hypothesis</h3>
      </p>

      <p>
        We believe that there is an increase in people not exercising which is leading to an increase in obesity related health issues. We think this is because people are struggling to find the motivation for regular exercise. So, if we can make exercise more accessible and valuable providing rewards in return for physical activity, we will see an increase in peoples motivation to maintain a regular exercise lifestyle.
      </p>
      

<!-- section for version 2 content and documentation -->
      <h2 class="govuk-heading-m">Version 2</h2>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--yellow">
    In progress
  </strong>

  <div>
    <form class="form" action="/V2/apply-for-activity-credit" method="post">

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://miro.com/app/board/uXjVOFTMAEk=/">Miro board</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">User research</a>
        </li>
        <li>
          <a href="https://docs.google.com/document/d/1dlW1NBlDWfJCvqvbONHYkMqLSSgh0YoM2oZjCPYRxtM/edit">Content plan</a>
        </li>
      </ul>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Design change</th>
            <th scope="col" class="govuk-table__header">Rationale</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apply now and start page</th>
            <td class="govuk-table__cell">Merged the two screens together as it was repetitive for the user.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Next 33 weeks</th>
            <td class="govuk-table__cell">£109.80 per week</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total estimated pay</th>
            <td class="govuk-table__cell">£4,282.20</td>
          </tr>
        </tbody>
      </table>

      <!-- section for version 1 content and documentation-->
      <button class="govuk-button" data-module="govuk-button">
        Launch V2
      </button>
    </form>

      <h2 class="govuk-heading-m">Version 1</h2>

      <strong class="govuk-tag">
        completed
      </strong>

  <div>
        <form class="form" action="/v1/jake-start" method="post">

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://miro.com/app/board/uXjVOFTMAEk=/">Miro board</a>
        </li>
        <li>
          <a href="https://docs.google.com/presentation/d/1njTtIOZC09k0AgTHiD8Y6stY43x7Ig-3VdhA7WqYqIA/edit?usp=sharing">Show and tell slide deck</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">Content plan</a>
        </li>
      </ul>

          <button class="govuk-button" data-module="govuk-button">
        Launch V1
      </button>
      </form>
    </div>
  </div>

    </div>
  </div>

  
  

{% endblock %}
