
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Activity Credit prototypes
      </h1>{{releaseVersion | log }}
      <p>
        Designing a service to encourage exercise in return for cash.
      </p>

      <!-- hypothesis section -->
      <p>
        <h3 class="govuk-heading-s">
          Hypothesis</h3>
      </p>

      <p>
        We believe that there is low activity levels from people of low income, which is leading to an increase in obesity related health issues. We think this is because people are struggling to find the motivation for regular exercise. So, if we can make exercise more accessible and valuable through providing additional income in return for physical activity, we will see an increase in peoples motivation to maintain a regular exercise lifestyle.
      </p>
      

<!-- section for version 2 content and documentation -->
<div>     
<h2 class="govuk-heading-m">Version 2</h2>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--yellow">
    In progress
  </strong>
  </div> 

  <div>
    <br>
    <!-- we need to update link for UR -->
    <form class="form" action="/V2/apply-for-activity-credit" method="post">

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://miro.com/app/board/uXjVOFTMAEk=/">Miro board</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">User research</a>
        </li>
        <li>
          <a href="https://docs.google.com/document/d/1dlW1NBlDWfJCvqvbONHYkMqLSSgh0YoM2oZjCPYRxtM/edit">Content plan</a>
        </li>
      </ul>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Key changes</th>
            <th scope="col" class="govuk-table__header">Rationale</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apply now and start page</th>
            <td class="govuk-table__cell">Merged the two screens together as it was repetitive for the user.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Screener</th>
            <td class="govuk-table__cell">Implemented screening questions so that it's clearer to the user before they apply whether or not they are eligible.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Reorder of first question</th>
            <td class="govuk-table__cell">Moved the most important questions to the start. Income question now at the start followed by the referral number, as income is a key requirement in order to be eligible.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Removal of benefits question</th>
            <td class="govuk-table__cell">Not necessary as already asking user for NI, and evidence of income.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Reorder of persional detail questions</th>
            <td class="govuk-table__cell">Assumption to be tested that reordering personal questions to name, address, NI number and contact preferences is more likely to match user mental model.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Reorder of text hyperlink and CTA button</th>
            <td class="govuk-table__cell">Moved text hyperlink above the CTA instead of after due to importance in relation to address question.</td>
          </tr>
        </tbody>
      </table>

      <!-- section for version 1 content and documentation-->
      <button class="govuk-button" data-module="govuk-button">
        Launch V2
      </button>
    </form>

      <h2 class="govuk-heading-m">Version 1</h2>

      <strong class="govuk-tag">
        completed
      </strong>

  <div>
    <!-- we need to update link for content plan-->
    <br>
        <form class="form" action="/v1/jake-start" method="post">

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://miro.com/app/board/uXjVOFTMAEk=/">Miro board</a>
        </li>
        <li>
          <a href="https://docs.google.com/presentation/d/1njTtIOZC09k0AgTHiD8Y6stY43x7Ig-3VdhA7WqYqIA/edit?usp=sharing">Show and tell slide deck</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">Content plan</a>
        </li>
      </ul>

          <button class="govuk-button" data-module="govuk-button">
        Launch V1
      </button>
      </form>
    </div>
  </div>

    </div>
  </div>

  
  

{% endblock %}
