{% extends "layout.html" %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Activity Credit
      </h1>

      <p class="govuk-body-m">Contents</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">What Activity Credit is</a>
        </li>
        <li>
          <a class="govuk-link" href="#">How it works</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Eligibility</a>
        </li>
        <li>
          <a class="govuk-link" href="#">What you'll get</a>
        </li>
        <li>
          <a class="govuk-link" href="#">How you're paid</a>
        </li>
        <li>
          <a class="govuk-link" href="jake-how-to-claim">How to claim</a>
        </li>
      </ul>
      
      <div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
      <h2 class="govuk-heading-m">What Activity Credit is</h2>

      <p>This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.</p>

      <h2 class="govuk-heading-s">Some more information</h2>

      <p>This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.</p>

      <h2 class="govuk-heading-s">A little bit more information</h2>

      <p>This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.</p>

      <h2 class="govuk-heading-s">A little bit more information after that</h2>

      <p>This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.</p>
    
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <a href="/docs/tutorials-and-examples">View a printable version of the whole guide</a>
  </div>

{% endblock %}
