{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Upload evidence of your income</h1>

      <form class="form" action="tayprogramchoice" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="national-insurance-number">
          This can be a recent payslip, p60 or SA302 if self employed.
          </label>
          <div id="national-insurance-number-hint" class="govuk-hint">
            
          </div>
          
        </div>
        <p></p>
        <p></p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            Upload a file
          </label>
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>
        <p></p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
