{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Referral number from your GP or healthcare provider</h1>

      <form class="form" action="pelinNInumber" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
            Please enter the referral number from your GP or healthcare provider
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="refnumber" type="text">
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Where can i find the referral number?
            </span>
          </summary>
          <div class="govuk-details__text">
            If you look at the referral document you received from your GP or healthcare provider, the referral number should be on the top-right of the page and it starts with the letters GAR.
          </div>
        </details>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
